/* Import Tailwind CSS */
@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');

/* Basic reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f5e6;
  font-family: 'Times New Roman', Times, serif;
  color: #3d2314;
}

/* Wanted Poster Styles */
.wanted-poster {
  width: 75vw;
  max-width: 950px;
  min-width: 650px;
  min-height: 750px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wanted-poster-outer {
  background-image: url('../public/poster_background.png');
  background-size: cover;
  background-repeat: repeat;
  border: 3px solid #3d2314; /* Dark brown border */
  padding: 18px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wanted-poster-inner {
  border: 2px solid #3d2314;
  margin: 10px 0 18px;
  padding: 15px 10px;
  width: 70%;
  min-width: 500px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wanted-headline {
  font-family: 'Stardos Stencil', serif;
  font-size: 80px;
  color: #3a220d;
  text-transform: uppercase;
  color: #3d2314;
  font-weight: bold;
  margin-bottom: 5px;
}

.wanted-text {
  color: #3d2314;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: center;
}

.wanted-section-title {
  font-family: 'Charm', cursive;
  font-size: 1.8rem;
  font-weight: bold;
  color: #3d2314;
  margin: 20px 0;
  text-align: center;
}

.wanted-list-container {
  text-align: center;
  margin-bottom: 25px;
  width: 100%;
}

.wanted-list-container p {
  margin-bottom: 10px;
  color: #3d2314;
  font-size: 0.95rem;
  line-height: 1.5;
  text-align: center;
}

.wanted-list-container strong {
  font-weight: bold;
}

.wanted-button {
  font-family: 'Charm', cursive;
  background-color: transparent;
  border: 2px solid #3d2314;
  color: #3d2314;
  padding: 8px 20px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.wanted-button:hover {
  background-color: #3d2314;
  color: #d7c8a0;
}

.reward-text {
  font-family: 'Stardos Stencil', serif;
  font-size: 90px;
  color: #3a220d;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
}

.reward-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  gap: 0;
}

.reward-label {
  font-family: 'Stardos Stencil', serif;
  font-size: 80px;
  color: #3a220d;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 8px;
}

.reward-amount {
  font-family: 'Stardos Stencil', serif;
  font-size: 100px;
  color: #3a220d;
  font-weight: bold;
  line-height: 1;
}